 /**************  base rule  ************* */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Poppins", sans-serif;
}

p,
li,
a {
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}


 /************** theme **************/
:root {
    --main-color : #0062ff;
    --supporting-color: #ebf3fe;
    --font-color:#424242;
    --bg-color:#ffffff;
    --h-color: #0a043c;
    --white-color: #ffffff;
    --para-color : #504e4d;
    --btn-hover-bg-color: #003b99;
    --heading-color: #000a19;
    --btn-box-shadow: rgba(100, 80, 90, 0.5) 0px 7px 29px 0px;
}


 /************** layout ************* */


 .container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 6.6rem 2.4rem;
 }

 .section-about .container:first-child,
 .section-blog .container:first-child,
 .section-course .container:first-child,
 .section-contact-homepage,
 .section-why-choose .container:first-child {
    padding: 6.4rem 0 2.4rem 0;
 }


 .grid {
    display: grid;
 }
 .grid-two--cols {
    grid-template-columns: repeat(2, 1fr);
 }
.grid-three-cols {
    grid-template-columns: repeat(3, 1fr);
 }

 .grid-four-cols {
    grid-template-columns: repeat(4, 1fr);
 }

 /**************  module  / reusable *************/

 .section-common--title {
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
    gap: 6.4rem;
 }

 .section-common-heading {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: capitalize;
 }

 .section-common-subheading {
    color: var(--heading-color);
 }

 .fa-brands {
    padding: 2.4rem;
    background-color: var(--supporting-color);
    font-size: 2.4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--h-color);
}


 .btn{
    display: inline-block;
    padding: 1.2rem 3.2rem;
    color: var(--white-color);
    background-color: var(--main-color);
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}


  /************** State **************/
  .btn:hover{
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
  }

 /*************  Navbar Section.   **************/

.section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 0;
}

.section-navbar .container ul {
    display: flex;
    gap: 3.2rem;
   
    & li a{
        color: var(--heading-color);
        font-weight: 600;
        font-size: 1.6rem;
        text-transform: uppercase;
        display: inline-block;
        position: relative;

    &::after{
        content: "";
        position: absolute;
        bottom: -0.3rem;
        left: 0;
        width: 0%;
        border-bottom: 0.2rem solid var(--main-color);
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
    }
}

& li a:hover::after{
    width: 100%;
}
   
}

    /*************** Navbar end Section ***************/


    /************** hero section **************/

    main{
        position: relative;
        background-image: linear-gradient(
            #3d86fa,
            #4484fb,
            #679eff,
            #b3d2ff,
            #ebf3fe

        );
    }

    /************** Shape Divider plugin **************/
.custom-shape-divider-bottom-1770472392 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1770472392 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 59px;
}

.custom-shape-divider-bottom-1770472392 .shape-fill {
    fill: #FFFFFF;
}

/************** Shape Divider plugin end **************/
    .section-hero .grid {
        align-items: center;
        gap: 3.5rem;

        & .hero-subheading {
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            font-size: 1.7rem;
            word-spacing: 0.2rem;
            color: var(--h-color);
            font-weight: 700;
        }

        & .hero-heading {
            font-size: 5.8rem;
            font-family: "Jost";
            color: var(--h-color);
            font-weight: 900;
        }

        .hero-para{
            color: var(--white-color);
            margin: 2rem 0 4rem;
        }
    }


    .section-hero--image img {
        width: 100%;
        height: auto;
    }

    /***** End hero section *******/

    /******** about Section ***********/

    .section-about .about-div {
        text-align: center;
    }

    .section-about img {
        padding: 2.4rem;
        background-color: var(--supporting-color);
        width: 10rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
}

.about-div .icon:hover>img {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    background: linear-gradient(#0575e6, #021b79);
}

.section-about .grid{
    gap: 4.5rem;
}


/******** End about Section ***********/

/******** Start Course Section ***********/



.section-course{
    background-color: #f3f3f3;
}

.section-course .grid{
    gap: 4.5rem;
}
.section-course .course-div{
    padding: 2.4rem;

}

.section-course .course-div:hover{
    box-shadow: var(--btn-box-shadow);

}

.course-div:nth-child(1) .icon .fa-brands {
   color: #68bf9b;
   background-color: #e7f6ef;
}

.course-div:nth-child(2) .icon .fa-brands {
   color: hsl(155, 76%, 67%);
   background-color: #ccf7f7;
}
.course-div:nth-child(3) .icon .fa-brands {
   color: #e0a9ca;
   background-color:rgb(247, 223, 238);
}
.course-div:nth-child(4) .icon .fa-brands {
   color: #eeb081;
   background-color: #f6dfce;
}
.course-div:nth-child(5) .icon .fa-brands {
   color: #1450a3;
   background-color: #dce9fa;
}
.course-div:nth-child(6) .icon .fa-brands {
   color: #68bf9b;
   background-color: #a3e6c7;
}

/* -------- End Course Section --------- */


.common-text--highlight {
    background-color: greenyellow;
    width: 6rem;
    aspect-ratio: 1;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}

.section-why-choose .text-align--right .why-choose-div {
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
    text-align: right;
}

/* --------why choose Course Section --------- */

.choose-center--div img {
    width: 80%;
    height: auto;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.section-why-choose .grid {
    gap: 9.6rem;
}

.choose-center--div, figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.why-choose-div {
    margin-bottom: 1rem;
}

.choose-center--div figure::before,
 .choose-center--div figure::after{
    content: "";
    width: 35rem;
    height: 35rem;
    background-color: #000a19;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: -1;
   
}

.choose-center--div figure::before{
     animation: circle 5s linear infinite;
    -webkit-animation: circle 5s linear infinite;
}

@keyframes circle{
    0%{
        background-color: #b3d0ff;
    }
    25%{
        background-color: #80b0ff;
    }
    50%{
        background-color: #4d91ff;
    }
    75%{
        background-color: #99c0ff;
    }
    100%{
        background-color: #3381ff;
    }
}

.choose-center--div figure::after{
    width: 40rem;
    height: 40rem;
    background-color: var(--supporting-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -2;
}

/* section-contact-homepage */

.section-contact-homepage {
    width: 60%;
    min-height: 30rem;
    margin: 0 auto;
    box-shadow: rgba(42, 63, 78, 0.3) 0px 1px 2px 0, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 5rem;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    position: relative;
    bottom: -15rem;
    z-index: 1;
    background-color: var(--white-color);
}

.section-contact-homepage .grid{
    align-items: center;
    gap: 2rem;
}

.contact-title{
    font-size: 2.8rem;
    line-height: 1.2;
}

.contact-content p {
    margin: 1.2rem 0 2.4rem 0;
}

.section-contact-homepage img{
    width: 90%;
    height: auto;
}
.section-contact-homepage a {
    color: var(--white-color);
}

/* end section-contact-homepage */

/* section-footer*/

footer {
    background-color: #040d12;
    padding: 8rem;
}

footer .grid{
    text-align: right;
}

footer *{
    color: var(--white-color);
}
footer .footer-1--div .social-footer-icons {
    display: flex;
    gap: 2rem;
}

footer .footer-1--div .fa-brands{
    font-size: 3rem;
    width: 5rem;
    padding: 0;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
footer .footer-1--div .fa-brands:hover{
    background-color: var(--btn-hover-bg-color);
    color: var(--white-color);
    rotate: 360deg;
}


.footer-1--div p{
    margin: 1rem 0 3.2rem 0;
}

.footer-subheading{
    font-size: 2.3rem;
    font-weight: 700;
   
}
.footer-1--div{
    text-align: left;
}

footer .container{
    padding-bottom: 0.5rem;
}