 /* ------base rule...... */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Poppins", sans-serif;
}

p,
li,
a {
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}


 /* -------theme------- */
:root {
    --main-color : #0062ff;
    --supporting-color: #ebf3fe;
    --font-color:#424242;
    --bg-color:#ffffff;
    --para-color : #504e4d;
    --heading-color: #000a19;
}

 /* -----------layout........ */


 .container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
 }


 /* ..............module.......... */
.section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 0;
}

.section-navbar .container ul {
    display: flex;
    gap: 3.2rem;
   
    & li a{
        color: var(--heading-color);
        font-weight: 600;
        font-size: 1.6rem;
        text-transform: uppercase;
        display: inline-block;
        position: relative;

    &::after{
        content: "";
        position: absolute;
        bottom: -0.3rem;
        left: 0;
        width: 0%;
        border-bottom: 0.2rem solid var(--main-color);
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
    }
}

& li a:hover::after{
    width: 100%;
}
   
}

  /* -----------State............... */



   /* -----------Navbar start Section........ */





    /* -----------Navbar end Section........ */